/******************************************************************
Theme Name: JointsWP (CSS)
Theme URI: http://www.jointswp.com
Description: 
Author: Your Name Here
Author URI: http://www.yoururlhere.com
Version: 1.5 (CSS)
Tags: 

Foundation Version: 5.2.1

---------------------------------------------------------------

Because this file is not being used for styles,
feel free to use it to leave notes to yourself.

******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	font-family: 'Montserrat', sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 16px;
}

.footer {
	background: #333;
}