.menu-item-36 a {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 16px;
}

#diamond-club h2 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 100;
}

.off-canvas-wrap {
	position: relative;
	z-index: 5;
	-webkit-transition:ease-in-out 0.3s;
	-moz-transition:ease-in-out 0.3s;
	-ms-transition:ease-in-out 0.3s;
	-o-transition:ease-in-out 0.3s;
}

.tout h1 , .tout h2 , .tout h3 , .tout h4 , .tout p , .tout span , .tout blockquote {
	color: #fff;
}

.home .nav-secondary a , .page-id-18 .nav-secondary a , .page-id-33 .nav-secondary a ,.page-id-20 .nav-secondary a{
	color: #fff;
}


.mobile-nav {
	position: fixed;
	max-width: 500px;
	background: #1d1d1d;
	height: 100%;
	z-index: 200;
	padding: 30px 25px;
	overflow: auto;
	right: 0px;
	display: none;
	transform:translateX(100%);
	transition:ease-in-out 0.3s;
	 -webkit-transition:ease-in-out 0.3s;
	 -moz-transition:ease-in-out 0.3s;
	  -ms-transition:ease-in-out 0.3s;
	  -o-transition:ease-in-out 0.3s;
}


.btn-mobile-nav{
	position: absolute;
	right: 40px;
	top: 25px;
	font-size: 30px !important;
	color: #fff;
	display: none !important;
}


.mobile-nav .nav-secondary{
	margin-bottom: 20px;
}

.mobile-nav ul {
	width: 100%;
	margin:0px;
	padding: 0px;
}

.mobile-nav li, .mobile-nav .nav-secondary li{
	width:100%;
	float: none;
	margin-bottom: 30px;
}

.mobile-nav a, .mobile-nav li a, .mobile-nav .nav-secondary li a {
	color: #f4f4f4;
	display: block;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 17px;
	line-height: 20px;
}

.mobile-nav .lang-toggle{
	padding: 5px 0 25px 0; 
	color: #fff;
}

.mobile-nav form{
	margin-bottom:40px;
}

.mobile-nav label , .mobile-nav input[type=submit]{
	display: none;

}

body .tout{
		background: url(http://placehold.it/1280x650) center center no-repeat;
		background-size: cover;
		margin-top: -170px;
		position: relative;
		z-index: 20;
		padding: 230px 0 150px 0;

}

blockquote {
	padding: 20px 10%;
	position: relative;
	background:  url(../images/quote_right.png) center right no-repeat,
	url(../images/quote_left.png) center left no-repeat;  

}


blockquote , blockquote p , blockquote p span {
	width: 100%;
	max-width:895px;
	margin: 0 auto;
	font-size: 30px;
	font-style: italic;
	text-align: center;
	font-size: 22px;

	border: none;
}

.page-template-page-about-php .tout {
	background: url(../images/about_bg.jpg) no-repeat bottom center;
	background-size: cover;
}

.page-template-page-solutions-php .tout {
	background: url(../images/solution_bg.jpg) no-repeat bottom center;
	background-size: cover;
}


/* Ingredients */

.page-template-page-ingredients-php .tout {
	background: url(../images/ingredients_bg.jpg) no-repeat bottom center;
	background-size: cover;
}

.ingredients-wrap .row{
	padding: 40px 0;
	border-bottom: 1px solid #333;
}

.ingredients-wrap .row:last-child{
	border-bottom: none;
}

.ingredients-wrap .row .text-center{
	padding: 10px 0;
}

.ingredients-wrap .row .text-center img{
	width: 100%;
	max-width: 105px;
}

.ingredients-wrap .item p{
	font-size: 1em;
}

.moisture {
	background: #1d1d1d;
}
.moisture p ,
.moisture span ,
.moisture strong,
.moisture h1,
.moisture h2,
.moisture h3,
.moisture h4,
.moisture h5,
.moisture h6{
	color: #fff;
}

.moisture .row{
	border-color: #fff;
}

.moisture .row .text-center img{
	max-width: 80%;
}

/* Footer Options */

.social-wrap {
	background:#333;
	padding: 40px 0;
}

.social-wrap > div {
	max-height: 460px;
	overflow: hidden;
}

.social-wrap li , .social-wrap p , .social-wrap span , .social-wrap h1 , .social-wrap h2 , .social-wrap h3 , .social-wrap h4  {
	color:#fff;
}

.social-wrap .cff-post-text{
	max-height: 90px;
	overflow: hidden;
}

#twitter-widget-0{
	width: 100% !important;
	max-height: 470px !important;
	overflow: hidden !important;
}

.really_simple_twitter_widget li{
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}

.really_simple_twitter_widget li:last-child{
	border: none;
}

.social-wrap .blog .post{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}

.social-wrap .blog .post:last-child {
	border: none;
}

.social-wrap .blog h2{
	font-size: 20px;
}


