br{
	position: absolute;
	display: none;
}

#contact input[type="text"], input[type="email"], textarea{
	width: 80%;
	height: 45px;
	margin-left: 5px;
	float: right;
}
#contact label{
	cursor: none;
}
#contact input[type="submit"]{
	margin: 5% 0 0 18%;
}
#contact iframe{
	width: 100%;
	height: 441px;
}