/*
== Home Styles
*/
.home{
	background: #000;
}
.cta, input[type="submit"]{
	padding: 20px 40px;
	background-color: black;
	color: white;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-size: 20px;	
	border: none;
}

input[type="submit"]{
	padding: 15px 40px;
}

#chef, #ingredients, #diamond-club{
	padding: 95px 0;
}
#about, #solutions, #stories, #chef, #diamond-club{
	background-size: cover;
}
#video{
	height: 655px;
	background: transparent;
	/*background: url(../images/mountains.jpg) no-repeat top center ;*/
	background-size: cover;
	z-index: -1;
	margin-top:-170px;
}
#quote{
	padding: 60px 0;
}
#quote blockquote{
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}
#about{
	background: url(../images/bottles.jpg) no-repeat bottom center;
	padding: 76px 0 60px 0;
	background-size: cover;
	text-align: center;
	color: white;
}
#solutions{
	background: url(http://placehold.it/1350x1150);
	padding: 200px 0;
}
#chef{
	background: url(http://placehold.it/1350x1150);
}
#stories{
	padding: 65px 0;
}
#stories .wrap{
	text-align: center;
}
#stories ul {
	display: inline-block;
}
#stories ul li{
	cursor: pointer;
}

#ingredients .tc a {
	margin:10px 0;
}
#diamond-club{
	background: url(http://placehold.it/1350x1150);
}
