@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/* Global Styles*/
body{
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 16px;
}
p, h1, h2, h3, h4{
  	font-family: 'Montserrat', sans-serif;
  	margin-bottom: 3%;
}
a , p a , span a {
	color: #e2332f;
}
a:hover , p a:hover , span a:hover {
	color: #BA4643;
}
h1, h2, h3, h4{
	font-weight: bold;
}
h1{
	font-size: 43px;
}
h2{
	font-size: 40px;
} 
h3{
	font-size: 32px;
}
h4{
	font-size: 14px;
}
section{
	padding: 40px 0;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
header{
	position: relative;
	z-index: 100;
}
nav{
	background: #000;
	position: relative;
	z-index: 4;
}
nav .row {
	position: relative;
}
nav img {
	position: absolute;
	left: 20px;
	top: -45px;
	width: 180px;
}
nav ul {
	margin: 0px;
}
nav li{
	float: left;
	list-style: none;
	padding: 15px;
}
nav li a {
	color: #fff;
	font-size: 14px;
}
nav .menu-nav-primary-container{
	float: right;
}
.nav-secondary ul {
	display: inline;
	float: left;
	margin:0px;
}
.nav-secondary ul li{
	float: left;
	list-style: none;
}
.nav-secondary .container{
	width: 550px;
	padding-top: 15px;
}
.nav-secondary form label {
	display:none;
}
.nav-secondary form #searchsubmit {
	display: none;
}
.nav-secondary a{
	display: inline;
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 16px;
	padding: 10px 15px
}
.nav-secondary form{
	float: left;
	width: 50px;
}
.nav-secondary input{
	display: inline;
	width: 200px;
	margin: 0px;
}
.update{
	background: #f1f1f1;
	background: rgba(40, 40, 37, 0.5); 
	text-align: right;
}
.update .row {

}
.update p{
	margin: 0px;
	padding: 10px 0;
	font-size: 1em;
	color: #f1f1f1;
}
.footer {
  background: #000;
  padding: 40px 2%;
  margin: 0 0;
}
.footer .nav ul {
	margin: 0;
	padding:0;
}

.footer .nav ul li {
	margin: 0;
	list-style: none;
	float: left;
	padding: 0 10px;
	font-size: 12px;
}

.footer .nav ul li a {
	color: #fff;
}

.footer .copy p{
	color: #fff;
	font-size: 12px;
	line-height: 16px;
}
.footer .copy {
	padding-left: 10px;
}

.footer .social {
	text-align: center;
	margin-bottom: 20px;
}

.footer .social ul {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.footer .social ul li {
	float: left;
	list-style: none;
	padding: 0 10px;
}

.footer .social ul li i {
	font-size: 24px;
	color: #fff;
}

/*Global Body Styles*/
section{
	position: relative;
	background: white;
}
section div {
	position: relative;
	z-index: 2;
}
blockquote{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
li {
	list-style-type: none;
}
.mb0{
	margin-bottom: 0em;
}
.mb3{
	margin-bottom: 3%;
}
.mt3{
	margin-top: 3%;
}
.mtb3{
	margin: 3% 0;
}
.white{
	color: #fff !important; 
}	
.red{
	color: #ff0000;
}
.tc{
	text-align: center;
}
.bl{
	font-weight: bold;
}
.img-overlay{
	background-color: #ff0000;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .3;
	z-index: 0;
}
.reveal-modal{
	background: #242424;
}
#error-page{
	padding: 40px;
}
