#sidebar1{
	display: none;
}

@media only screen and (max-width: 1024px) {
	.social-wrap{
		display: none;
	}
}
@media only screen and (max-width: 850px) {
	
	header{
		top: 60px;
	}
	.nav-secondary, .menu-nav-primary-container{
		display: none;
	}
	.mobile-nav .nav-secondary, .mobile-nav .menu-nav-primary-container{
		display: block !important;
	}
	.btn-mobile-nav{
		display: block !important;
	}
	nav{
		min-height: 80px;
		margin-bottom: 40px;
	}
	nav img{
		width: 165px;
	}
	.update{
		display: none;
	}
	body.nav-toggle .mobile-nav{
		transform:translateX(0);
		display: block;
	}

	body.nav-toggle .off-canvas-wrap{
		right: 230px;
	}
	.row{
		width: 90%;
	}
	h1{
		font-size: 36px !important;
	}
	h2{
		font-size: 32px !important;
	}
	h3{
		font-size: 24px !important;
	}
	p {

	}
	blockquote{
		font-size: 22px !important;
		background-size: 10%;
	}
	a{

	}
}
@media only screen and (max-width: 480px) {
	.btn-mobile-nav{
		top: 16px;
	}
	nav{
		min-height: 60px;
	}
	nav img{
		width: 150px;
	}
}