
.recipe .large-8 .row,.recipes-steps ul , .recipes .column,  .method ol {
	margin: 0 0;
	padding: 0 0;
}
.recipes-steps ul li{
	font-size: 12px;
}
.method{
	padding-left: 2%;
}
.method ol li{
	font-size: 12px;
	list-style-type: decimal;
	margin-left: 2%;
}
.method h4{
	margin-bottom: 1%;
	margin-top: 5%;
}
