#solutions-header{ 
	background: url(http://placehold.it/1350x1135) no-repeat;
	background-size: cover;
	padding: 100px 0;
}

#solutions-page ul{
	margin:0;
}
#solutions-page .vid-thumb{
	cursor: pointer;
}
#solutions-page ul p{
	font-size: 12px;
}
#solutions-recipes{
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 50px 70px;
}
#solutions-recipes .row{
	margin-bottom: 15px;
}
#solutions-recipes input[type="text"]{
	width: 650px;
	margin: 20px auto;
	height: 37px;
}
#solutions-benefits p{
	font-size: 12px;
	padding-bottom: 40px;
}
.f-b-house .row{
	margin-bottom: 15px;
}